.App {
  width: 100vw;
  height: 100vh;
}

/* Themes */
.dark-theme {
  background-color: #000;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

/* Text Color */
.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

/* Containers  */
.main-container {
  text-align: center;
  padding: 2rem 1.5rem;
}

.task-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header {
  background-color: #5032a5;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.light-theme-btn {
  background-color: transparent;
  border: #000 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.dark-theme-btn {
  background-color: transparent;
  border: #fff solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

/* Icons */
.sm-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.lg-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

/* Task */
.task {
  background-color: #303030;
  padding: 2rem 0;
  border-radius: 4%;
}

/* media queries */

/* Tablet and Desktop */
@media (min-width: 650px) {
  .main-container {
    padding: 2rem 10rem;
  }
}
