.App {
  width: 100vw;
  height: 100vh;
}

/* Cursors */
.cursor-pointer {
  cursor: pointer;
}

/* Themes */
.dark-theme {
  background-color: #000;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

/* Text Color */
.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

/* Containers  */
.main-container {
  padding: 2rem 1.5rem;
}

.task-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: scroll;
  height: 70vh;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

h1 {
  font-weight: 300;
}

.header {
  background-color: #5032a5;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #5032a5;
  color: white;
  text-align: center;
  padding: 1rem 0rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Buttons */
.light-theme-btn {
  background-color: transparent;
  border: #000 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.dark-theme-btn {
  background-color: transparent;
  border: #fff solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

/* Icons */
.sm-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.md-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.lg-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

/* Task */
.dark-theme-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  padding: 2rem 1rem;
  border-radius: 0.75rem;
  color: white;
}

.light-theme-task {
  display: flex;
  color: #000;
  justify-content: space-between;
  align-items: center;
  border: #000 1px solid;
  padding: 2rem 1rem;
  border-radius: 0.75rem;
}

.light-theme-circle {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #000;
  border-radius: 9999rem;
}

.dark-theme-circle {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #fff;
  border-radius: 9999rem;
}

.completed-circle {
  background-color: #5032a5;
  border-radius: 9999px;
  color: white;
}

.task-description {
  padding: 0 0.5rem;
  width: 100%;
  max-height: 4rem;
  overflow: scroll;
  background-color: transparent;
  border: none;
}

.task-description:focus {
  outline: none /* Removes the border when the input is clicked */
}

.strikethrough-text {
  text-decoration: line-through;
}

/* media queries */

/* Tablet and Desktop */
@media (min-width: 650px) {
  .main-container {
    padding: 2rem 10rem;
  }
}
